venv/                                                                                             
  __pycache__/                                                                                      
  *.pyc                                                                                             
  .DS_Store                                                                                         
  data/income_inequality_final.csv
  